:root {
  --violet: #705bea;
  --pale-violet: #9e9eff;
  --light-violet: #f8f7ff;
  --zapote: #ff9853;
  --pale-zapote: #ffeedd;
  --dark-gray: #373737;
  --mid-gray: #838383;
  --light-gray: #ebebeb;
  font-size: 16px;
}

* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  grid-template: auto 1fr / auto 1fr;
  width: 100%;
  height: 100vh;
}

/* --- SIDEBAR STYLES --- */

nav {
  background-color: var(--zapote);
  grid-area: 1 / 1 / 3 / 2;
  padding: 20px 40px 20px 20px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  z-index: 3;
}

nav a {
  text-decoration: none;
  color: var(--pale-zapote);
  font-size: 1.25rem;
  font-weight: 400;
  display: flex;
  gap: 12px;
}

.logo {
  color: #ffffff80;
  font-size: 1.5rem;
  font-weight: 700;
  display: flex;
  gap: 12px;
}

.nav-group {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

/* --- HEADER STYLES --- */

header {
  background-color: white;
  grid-area: 1 / 2 / 2 / 3;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 16px 40px;
  color: var(--dark-gray);
  font-size: 1.25rem;
  box-shadow: 0px 8px 16px #00000024;
  z-index: 2;
}

header div {
  display: flex;
}

header > div {
  justify-content: space-between;
}

header > div > div {
  gap: 16px;
  align-items: center;
}

header > div:nth-child(1) > div:nth-child(1) {
  flex: 1;
  padding-right: 64px;
}

header input {
  border: 1px solid var(--pale-violet);
  background-color: var(--light-violet);
  border-radius: 16px;
  height: 32px;
  width: 100%;
}

header a {
  text-decoration: none;
  font-weight: 700;
  color: var(--dark-gray);
}

.user-image {
  background-color: var(--pale-violet);
  border-radius: 50%;
}

.greeting {
  flex-direction: column;
}

h1 {
  color: var(--zapote);
}

header button {
  border: none;
  height: 32px;
  border-radius: 16px;
  font-size: 1rem;
  font-weight: 700;
  color: white;
  background-color: var(--violet);
  padding: 4px 16px;
}

button:hover {
  cursor: pointer;
}

header ion-icon {
  color: var(--pale-violet);
}

/* --- MAIN STYLES --- */

main {
  background-color: var(--light-violet);
  grid-area: 2 / 2 / 3 / 3;
}
